<!DOCTYPE html>
<html lang="en">
  <!--
  Necessary Components:
  1) All the data in this google doc: https://docs.google.com/document/d/1nIxyB4rRyt9GVHOBS0Q4u2HqSBMHhZn3Bgr_MNjvCAs/edit
  -->
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    <!-- makes the webpage respond to resizing -->
    <meta charset="UTF-8">
    <meta name="author" content="Michael Zeng">
    <title>userLatestPosts</title>
    <!-- <script defer type="text/javascript" src="javascriptFileName.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/tether.js"></script>
    <script src="js/bootstrap.min.js"></script> -->
  </head>
  <body>
    <p style="font-weight: bold; font-size:600%;">This is the catalog view!</p>
    <br /><br />
    <p style="font-weight: bold; font-size:400%;">We basically need to take all the content from this doc and make it look good: </p>
    <p style="font-weight: bold; font-size:200%;">https://docs.google.com/document/d/1nIxyB4rRyt9GVHOBS0Q4u2HqSBMHhZn3Bgr_MNjvCAs/edit?usp=sharing</p>
  </body>
</html>
