<!DOCTYPE html>
<html lang="en">
  <!--
  Necessary Components:
  1) All the data in this google doc: https://docs.google.com/document/d/1nIxyB4rRyt9GVHOBS0Q4u2HqSBMHhZn3Bgr_MNjvCAs/edit
  -->
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    <!-- makes the webpage respond to resizing -->
    <meta charset="UTF-8">
    <meta name="author" content="Michael Zeng">
    <title>userLatestPosts</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <p style="font-weight: bold; font-size:600%;">This is the catalog view!</p>
    <br /><br />
    <p style="font-weight: bold; font-size:400%;">We basically need to take all the content from this doc and make it look good: </p>
    <p style="font-weight: bold; font-size:200%;">https://docs.google.com/document/d/1nIxyB4rRyt9GVHOBS0Q4u2HqSBMHhZn3Bgr_MNjvCAs/edit?usp=sharing</p>
    <form style="padding-bottom:1em;" method="POST">
      <!-- Every <form> element needs a csrf_token as a security precaution. -->
      {% csrf_token %}
      <!-- I use the hidden input element to send along the information that
        we are logging out. -->
      <input type="hidden" name="returnHome" value="returnHome"></input>
      <button type="submit" class="btn btn-danger">Return To Home Page</button>
    </form>
  </body>
</html>
