<!DOCTYPE html>
<html lang="en">
  <!--
  Page to tell donor thank you for claiming a request. Yes I know this could be a popup but for simplicity's sake
  Necessary Components:
  1) button to return home
  2) tell user/donor thank you for claiming a request
  -->
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    <!-- makes the webpage respond to resizing -->
    <meta charset="UTF-8">
    <meta name="author" content="Michael Zeng">
    <title>title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <!-- <script defer type="text/javascript" src="javascriptFileName.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/tether.js"></script>
    <script src="js/bootstrap.min.js"></script> -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Website</title>

    {% load static %}

    <!--favicon-->
    <link rel="apple-touch-icon" href="{% static 'assets/theme/images/apple-touch-icon.png' %}">
    <link rel="icon" href="{% static 'assets/theme/images/favicon.ico' %}">

    <!--pace (page loader) style-->
    <link href="{% static 'assets/plugins/pace/pace.css' %}" rel="stylesheet">
    <script src="{% static 'assets/plugins/pace/pace.min.js' %}"></script>

    <!-- Bootstrap -->
    <link href="{% static 'assets/plugins/bootstrap-3.3.1/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Icons -->
    <link href="{% static 'assets/plugins/font-awesome-4.2.0/css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- typed style -->
    <link href="{% static 'assets/plugins/typed/typed.css' %}" rel="stylesheet">
    <!-- popup style-->
    <link href="{% static 'assets/plugins/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
    <!-- simple Captcha-->
    <link href="{% static 'assets/plugins/simpleCaptcha/jquery.simpleCaptcha.css' %}" rel="stylesheet">



    <link href="{% static 'assets/theme/css/style.css' %}" rel="stylesheet">

    <style>
      p {
        font-size: 120%;
      }
    </style>

  </head>
  <body style= "background-color: rgb(228, 224, 224);">


    <div class="wrapper">
      <div class="block-page" >
        <div style = " padding-left: 50px; padding-right: 50px; padding-top:20px; padding-bottom: 20px; background-color: white;" class="container-sm clearfix">
          <h2 class="color-dark"><i style="color: seagreen;"class="fa fa-check"></i> Claim Request For PPE?</h2>
          <p style="padding-top:20px;">Would you like to claim and fulfill this request for PPE?</p>
<hr>

   <!--You can only change the form style and button class, everything else in the form has to stay the same-->
   <form style="padding-bottom:1em; display: inline;" method="POST">
    <!-- Every <form> element needs a csrf_token as a security precaution. -->
    {% csrf_token %}
    <!-- I use the hidden input element to send along the information that
      we are logging out. -->
    <input type="hidden" name="yes"></input>
    <button type="submit" class="btn-md btn-default  btn-flat-solid" style="width: 25%; font-size : 200%;">Yes</button>
  </form>

  <!--You can only change the form style and button class, everything else in the form has to stay the same-->
  <form style="padding-bottom:1em; display: inline;" method="POST">
    <!-- Every <form> element needs a csrf_token as a security precaution. -->
    {% csrf_token %}
    <!-- I use the hidden input element to send along the information that
      we are logging out. -->
    <input type="hidden" name="no"></input>
    <button type="submit" class="btn-md btn-default  btn-flat-solid" style="width: 25%; font-size : 200%;">No</button>
  </form>

<h3 style="margin-top:40px;" class="color-dark">Request Details:</h3>
<p><span class="color-dark">Requester's Name:</span> {{ requestObj.fName }} {{ requestObj.lName }}</p>
<p><span class="color-dark">Requester's Email:</span> {{ requestObj.email }}</p>
<p><span class="color-dark">Requester's Address:</span> {{ requestObj.address }} {{ requestObj.city }} {{ requestObj.state }} {{ requestObj.zipCode }} {{ requestObj.country }}</p>
<br />
<p><span class="color-dark">Type of PPE Requested:</span> <span id="type"></span></p>
<p><span class="color-dark">Amount of PPE Requested:</span> {{ requestObj.numPPE }}</p>
<p><span class="color-dark">Latest Date for Delivery of requested PPE:</span> {{ requestObj.delivDate }}</p>
<br />
<p><span class="color-dark">Other Notes For the Patron:</span> {{ requestObj.notes }}</p>

<script>
 var typeShort = '{{ requestObj.typePPE }}'
 console.log(typeShort)
 var typeLong = ""
 switch(typeShort) {
   case "shield": typeLong="3D Printed Face Shields (printforthecure.com/catalogue-shield)"; break;
   case "strap": typeLong="Face Mask Comfort Straps (printforthecure.com/catalogue-maskstrap)"; break;
   case "handle": typeLong="Touch-less Door Handles; " + '{{ requestObj.typeHandle }}' + " (printforthecure.com/catalogue-handle)"; break;
   case "opener": typeLong="Personal Touchless Door Openers (printforthecure.com/catalogue-dooropener)"; break;
   default: typeLong="PPE type not found"; break;
 }
 document.getElementById("type").innerText = typeLong;
</script>

</div>
</div>
</div>

       <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
       <script src="{% static 'assets/plugins/jquery.js' %}"></script>
       <script src="{% static 'assets/plugins/bootstrap-3.3.1/js/bootstrap.min.js' %}"></script>

       <!-- maps js -->
       <script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
       <script src="{% static 'assets/plugins/jquery.ui.map.js' %}"></script>

       <!-- advanced easing options -->
       <script src="{% static 'assets/plugins/jquery.easing-1.3.pack.js' %}"></script>

       <!-- parallax bg js -->
       <script src="{% static 'assets/plugins/jquery.parallax-1.1.3.js' %}"></script>
       <!-- lightbox js -->
       <script src="{% static 'assets/plugins/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
       <!-- typed animation-->
       <script src="{% static 'assets/plugins/typed/typed.js' %}"></script>
       <!-- easy chart-->
       <script src="{% static 'assets/plugins/easypiechart/jquery.easypiechart.min.js' %}"></script>
       <!-- simple Captcha -->
       <script src="{% static 'assets/plugins/simpleCaptcha/jquery.simpleCaptcha.js' %}"></script>
       <!-- simple Ajax Uploader -->
       <script src="{% static 'assets/plugins/Simple-Ajax-Uploader/SimpleAjaxUploader.min.js' %}"></script>
       <!-- validate jquery-->
       <script src="{% static 'assets/plugins/validator/jquery.validate.min.js' %}"></script>

       <!--=====================================================-->
       <!--configuration template-->
       <script src="{% static 'assets/theme/js/theme.js' %}"></script>

  </body>
</html>
