<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Website</title>

    {% load static %}

    <!--favicon-->
    <link rel="apple-touch-icon" href="{% static 'assets/theme/images/apple-touch-icon.png' %}">
    <link rel="icon" href="{% static 'assets/theme/images/favicon.ico' %}">

    <!--pace (page loader) style-->
    <link href="{% static 'assets/plugins/pace/pace.css' %}" rel="stylesheet">
    <script src="{% static 'assets/plugins/pace/pace.min.js' %}"></script>

    <!-- Bootstrap -->
    <link href="{% static 'assets/plugins/bootstrap-3.3.1/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Icons -->
    <link href="{% static 'assets/plugins/font-awesome-4.2.0/css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- typed style -->
    <link href="{% static 'assets/plugins/typed/typed.css' %}" rel="stylesheet">
    <!-- popup style-->
    <link href="{% static 'assets/plugins/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
    <!-- simple Captcha-->
    <link href="{% static 'assets/plugins/simpleCaptcha/jquery.simpleCaptcha.css' %}" rel="stylesheet">



    <link href="{% static 'assets/theme/css/style.css' %}" rel="stylesheet">

  </head>

  <body >
    <div class="wrapper">
      <div class="block-page" >
        <div class="container-xs clearfix">
          <h2 class="text-uppercase color-dark"><i class="fa fa-sign-in"></i> LOGIN</h2>
          <a href="/">Log in Later</a>
          <hr/>
          <form style="padding-bottom:1em;" method="POST">
            <!-- Every <form> element needs a csrf_token as a security precaution. -->
            {% csrf_token %}
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control form-flat" name="username" id="username" />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control form-flat" name="password" id="password" />
            </div>
            <button type="submit" class="btn-xs btn-default  btn-flat-solid">Login</button>

            {% if authenticated %}
            {% else %}
              <p>Username or Password invalid.</p>
            {% endif %}
          </form>
          <div class="form-group">
            <form style="padding-bottom:1em;" method="POST">
              <!-- Every <form> element needs a csrf_token as a security precaution. -->
              {% csrf_token %}
              <!-- I use the hidden input element to send along the information that
                we are logging out. -->
              <input type="hidden" name="register"></input>
              <!--<button type="submit">Not a Member?</button>-->
              <a href="/register">Not a Member?</a>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'assets/plugins/jquery.js' %}"></script>
    <script src="{% static 'assets/plugins/bootstrap-3.3.1/js/bootstrap.min.js' %}"></script>

    <!-- maps js -->
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/jquery.ui.map.js' %}"></script>

    <!-- advanced easing options -->
    <script src="{% static 'assets/plugins/jquery.easing-1.3.pack.js' %}"></script>

    <!-- parallax bg js -->
    <script src="{% static 'assets/plugins/jquery.parallax-1.1.3.js' %}"></script>
    <!-- lightbox js -->
    <script src="{% static 'assets/plugins/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
    <!-- typed animation-->
    <script src="{% static 'assets/plugins/typed/typed.js' %}"></script>
    <!-- easy chart-->
    <script src="{% static 'assets/plugins/easypiechart/jquery.easypiechart.min.js' %}"></script>
    <!-- simple Captcha -->
    <script src="{% static 'assets/plugins/simpleCaptcha/jquery.simpleCaptcha.js' %}"></script>
    <!-- simple Ajax Uploader -->
    <script src="{% static 'assets/plugins/Simple-Ajax-Uploader/SimpleAjaxUploader.min.js' %}"></script>
    <!-- validate jquery-->
    <script src="{% static 'assets/plugins/validator/jquery.validate.min.js' %}"></script>

    <!--=====================================================-->
    <!--configuration template-->
    <script src="{% static 'assets/theme/js/theme.js' %}"></script>



    <!-- <div class="container">
      <br /><br />
      <h1>Login</h1>
      <form style="padding-bottom:1em; padding-top:3em;" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" name="username" id="username" />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" id="password" />
        </div>
        <button type="submit" class="btn btn-danger">Login</button>
        <br />
      </form>

      {% if authenticated %}
      {% else %}
        <p>Username and Password did not match.</p>
      {% endif %}
      <br />

      <h2>Don't have an account yet?</h2>
      <form style="padding-bottom:1em;" method="POST">
        {% csrf_token %}
        <input type="hidden" name="register" value="register"></input>
        <button type="submit" class="btn btn-danger">Register</button>
      </form>
    </div> -->



  </body>
</html>
