<!DOCTYPE html>
<html lang="en">
  <!--
  Necessary Components:
  0) check out the flow chart in the google drive folder for details
  1) BIG button to redirect to the map view
  2) Button to see online catalogue
  -->
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    <!-- makes the webpage respond to resizing -->
    <meta charset="UTF-8">
    <meta name="author" content="Michael Zeng">
    <title>Home</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <!-- <script defer type="text/javascript" src="javascriptFileName.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/tether.js"></script>
    <script src="js/bootstrap.min.js"></script> -->

    <style>
      .input-element{
        font-size: 30px;
        size: 400;
      }
      .label {
        font-size: 24px;
        margin-left:-13.75%;
        font-weight: bold;
      }
    </style>
  </head>
  <body style="background-color: rgb(255, 200, 200)">
    <h2>A lot of text and images and stuff</h2>
    {% if authenticated %}
      <form style="padding-bottom:1em;" method="POST">
        <!-- Every <form> element needs a csrf_token as a security precaution. -->
        {% csrf_token %}
        <!-- I use the hidden input element to send along the information that
          we are logging out. -->
        <input type="hidden" name="logout" value="logout"></input>
        <button type="submit" class="btn btn-danger">Logout</button>
      </form>
    {% else %}
      <form style="padding-bottom:1em;" method="POST">
        <!-- Every <form> element needs a csrf_token as a security precaution. -->
        {% csrf_token %}
        <!-- I use the hidden input element to send along the information that
          we are logging out. -->
        <input type="hidden" name="login" value="login"></input>
        <button type="submit" class="btn btn-danger">Login</button>
      </form>
    {% endif %}

    <form style="padding-bottom:1em;" method="POST">
      <!-- Every <form> element needs a csrf_token as a security precaution. -->
      {% csrf_token %}
      <input type="hidden" name="submitRequest" value="submitRequest"></input>
      <button type="submit" class="btn btn-danger">Submit a Request For PPE</button>
    </form>

    <form style="padding-bottom:1em;" method="POST">
      <!-- Every <form> element needs a csrf_token as a security precaution. -->
      {% csrf_token %}
      <!-- I use the hidden input element to send along the information that
        we are logging out. -->
      <input type="hidden" name="mapView" value="mapView"></input>
      <button type="submit" class="btn btn-danger">See Local Requests For PPE</button>
    </form>

    <form style="padding-bottom:1em;" method="POST">
      <!-- Every <form> element needs a csrf_token as a security precaution. -->
      {% csrf_token %}
      <input type="hidden" name="catalogueView" value="catalogueView"></input>
      <button type="submit" class="btn btn-danger">See a catalogue of PPE you can print and donate on PrintForTheCure!</button>
    </form>

  </body>
</html>
