<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    <!-- makes the webpage respond to resizing -->
    <meta charset="UTF-8">
    <meta name="author" content="Michael Zeng">
    <title>PrintForTheCure</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link rel="shortcut icon" href="{% static 'assets/theme/images/vc_icon.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'assets/theme/images/vc_icon.png' %}" type="image/x-icon">

    <!--pace (page loader) style-->
    <link href="{% static 'assets/plugins/pace/pace.css' %}" rel="stylesheet">
    <script src="{% static 'assets/plugins/pace/pace.min.js' %}"></script>

    <!-- Bootstrap -->
    <link href="{% static 'assets/plugins/bootstrap-3.3.1/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Icons -->
    <link href="{% static 'assets/plugins/font-awesome-4.2.0/css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- typed style -->
    <link href="{% static 'assets/plugins/typed/typed.css' %}" rel="stylesheet">
    <!-- popup style-->
    <link href="{% static 'assets/plugins/magnific-popup/magnific-popup.css' %}" rel="stylesheet">


    <!-- Themes styles-->
    <link href="{% static 'assets/theme/css/style.css' %}" rel="stylesheet">

    <style>
      .input-element{
        font-size: 30px;
        size: 400;
      }
      .label {
        font-size: 24px;
        margin-left:-13.75%;
        font-weight: bold;
      }
      #map {
        height: 92%;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #navbarHome {
        margin-top:4px;
        margin-right:5px;
        margin-left:5px;
      }
      .navbarMargins {
        margin-top:4px;
        margin-right:5px;
        margin-left:5px;
      }
    </style>
  </head>
  <body>
    <div class="menu-area">
      <div class="toogle-bars">
        <a href="#menu-collapse" data-toggle="collapse" class="collapsed"><i class="fa fa-bars ic-open"></i> <i class="fa fa-remove ic-close"></i> MENU</a>
      </div>
      <div class="menu-collapse collapse" id="menu-collapse">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <ul class="breadcrumb main-nav no-space">
                <li class="link-inpage"><a href="" id="hireme-tab" class="link-inpage">donate</li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="breadcrumb main-nav nav">
                <li class="active"><a href="/" class="link-inpage">Home</a></li>
                <li ><a href="/request" class="link-inpage">Request PPE</a></li>
                <li ><a href="/nearbyRequests" class="link-inpage">Nearby PPE Requests</a></li>
                <li ><a href="/requestsVisual" class="link-inpage">PPE Requests Map</a></li>
              </ul>
            </div>
            {% if authenticated %}
            {% else %}
              <div class="col-md-3">
                <ul class="breadcrumb main-nav no-space">
                  <li>
                    <a href="/login/"  ><i class="fa fa-sign-in"></i>  Login/Register</a>
                  </li>
                </ul>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div><!-- End Main navbar -->



    <!--DO NOT CHANGE ANYTHING BELOW HERE-->
    <div id="map"></div>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 32.9, lng: -117},
          zoom: 8
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADv70Q-VIP_u5Glxceyl0BcFMvwGv9qpk&callback=initMap"
    async defer></script>
    <!-- <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <p>hi</p>
        </div>
        <div class="col-md-9" id="map"></div>
        <script>
          var map;
          function initMap() {
            console.log("hello")
            map = new google.maps.Map(document.getElementById('map'), {
              center: {lat: 42, lng: 9},
              zoom: 3
            });
          }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9mX_nhMkOxt0JooxE0Jw7bzRq_1p5TJI&callback=initMap"
        async defer></script>
      </div>
    </div> -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-81886809-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-81886809-3');
    </script>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'assets/plugins/jquery.js' %}"></script>
    <script src="{% static 'assets/plugins/bootstrap-3.3.1/js/bootstrap.min.js' %}"></script>

    <!-- maps js -->
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/jquery.ui.map.js' %}"></script>
    <!-- advanced easing options -->
    <script src="{% static 'assets/plugins/jquery.easing-1.3.pack.js' %}"></script>
    <!-- parallax bg js -->
    <script src="{% static 'assets/plugins/jquery.parallax-1.1.3.js' %}"></script>
    <!-- lightbox js -->
    <script src="{% static 'assets/plugins/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
    <!-- typed animation-->
    <script src="{% static 'assets/plugins/typed/typed.js' %}"></script>
    <!-- easy chart-->
    <script src="{% static 'assets/plugins/easypiechart/jquery.easypiechart.min.js' %}"></script>
    <!-- simple Ajax Uploader -->
    <script src="{% static 'assets/plugins/Simple-Ajax-Uploader/SimpleAjaxUploader.min.js' %}"></script>
    <!-- validate jquery-->
    <script src="{% static 'assets/plugins/validator/jquery.validate.min.js' %}"></script>

    <!--=====================================================-->
    <!--configuration template-->
    <script src="{% static 'assets/theme/js/theme.js' %}"></script>
  </body>
</html>
