<!DOCTYPE html>
<html lang="en">
  <!--
  Page to tell donor thank you for claiming a request. Yes I know this could be a popup but for simplicity's sake
  Necessary Components:
  1) button to return home
  2) tell user/donor thank you for claiming a request
  -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Website</title>

    {% load static %}

    <!--favicon-->
    <link rel="apple-touch-icon" href="{% static 'assets/theme/images/apple-touch-icon.png' %}">
    <link rel="icon" href="{% static 'assets/theme/images/favicon.ico' %}">

    <!--pace (page loader) style-->
    <link href="{% static 'assets/plugins/pace/pace.css' %}" rel="stylesheet">
    <script src="{% static 'assets/plugins/pace/pace.min.js' %}"></script>

    <!-- Bootstrap -->
    <link href="{% static 'assets/plugins/bootstrap-3.3.1/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Icons -->
    <link href="{% static 'assets/plugins/font-awesome-4.2.0/css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- typed style -->
    <link href="{% static 'assets/plugins/typed/typed.css' %}" rel="stylesheet">
    <!-- popup style-->
    <link href="{% static 'assets/plugins/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
    <!-- simple Captcha-->
    <link href="{% static 'assets/plugins/simpleCaptcha/jquery.simpleCaptcha.css' %}" rel="stylesheet">



    <link href="{% static 'assets/theme/css/style.css' %}" rel="stylesheet">

    <style>
      p {
        font-size: 120%;
      }
    </style>

  </head>
  <body style= "background-color: rgb(228, 224, 224);">


    <div class="wrapper">
      <div class="block-page" >
        <div style = " padding-left: 50px; padding-right: 50px; padding-top:20px; padding-bottom: 20px; background-color: white;" class="container-xs clearfix">
          <h2 class="color-dark"><i class="fa fa-sign-in"></i> Please Log In!</h2>
          <p style="padding-top:20px;">Sorry, Please <a href="/login">Log In</a> to Claim and Fulfill a Request for PPE!</p>

    <hr>

    <!--You can only change the form style and button class, everything else below has to stay the same-->
    <form style="padding-bottom:1em;" method="POST">
      <!-- Every <form> element needs a csrf_token as a security precaution. -->
      {% csrf_token %}
      <!-- I use the hidden input element to send along the information that
        we are logging out. -->
      <input type="hidden" name="return"></input>
      <button href="/" type="submit" class=" btn-xs btn-default  btn-flat-solid">Go Back</button>
    </form>

    </div>
    </div>
    </div>

    <script src="{% static 'assets/plugins/jquery.js' %}"></script>
    <script src="{% static 'assets/plugins/bootstrap-3.3.1/js/bootstrap.min.js' %}"></script>

    <!-- maps js -->
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/jquery.ui.map.js' %}"></script>

    <!-- advanced easing options -->
    <script src="{% static 'assets/plugins/jquery.easing-1.3.pack.js' %}"></script>

    <!-- parallax bg js -->
    <script src="{% static 'assets/plugins/jquery.parallax-1.1.3.js' %}"></script>
    <!-- lightbox js -->
    <script src="{% static 'assets/plugins/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
    <!-- typed animation-->
    <script src="{% static 'assets/plugins/typed/typed.js' %}"></script>
    <!-- easy chart-->
    <script src="{% static 'assets/plugins/easypiechart/jquery.easypiechart.min.js' %}"></script>
    <!-- simple Captcha -->
    <script src="{% static 'assets/plugins/simpleCaptcha/jquery.simpleCaptcha.js' %}"></script>
    <!-- simple Ajax Uploader -->
    <script src="{% static 'assets/plugins/Simple-Ajax-Uploader/SimpleAjaxUploader.min.js' %}"></script>
    <!-- validate jquery-->
    <script src="{% static 'assets/plugins/validator/jquery.validate.min.js' %}"></script>

    <!--=====================================================-->
    <!--configuration template-->
    <script src="{% static 'assets/theme/js/theme.js' %}"></script>

  </body>
</html>
