<!DOCTYPE html>
<html lang="en">
  <!--
  This page is for doctors to submit a request for #, type of PPE by certain date etc.
  Necessary Components:
  1) Pretty self explanatory, just need all of the following text boxes
  2) User(doctor)
  -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PrintForTheCure</title>

    {% load static %}

    <!--favicon-->
    <link rel="apple-touch-icon" href="{% static 'assets/theme/images/apple-touch-icon.png' %}">
    <link rel="icon" href="{% static 'assets/theme/images/favicon.ico' %}">

    <!--pace (page loader) style-->
    <link href="{% static 'assets/plugins/pace/pace.css' %}" rel="stylesheet">
    <script src="{% static 'assets/plugins/pace/pace.min.js' %}"></script>

    <!-- Bootstrap -->
    <link href="{% static 'assets/plugins/bootstrap-3.3.1/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Icons -->
    <link href="{% static 'assets/plugins/font-awesome-4.2.0/css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- typed style -->
    <link href="{% static 'assets/plugins/typed/typed.css' %}" rel="stylesheet">
    <!-- popup style-->
    <link href="{% static 'assets/plugins/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
    <!-- simple Captcha-->
    <link href="{% static 'assets/plugins/simpleCaptcha/jquery.simpleCaptcha.css' %}" rel="stylesheet">



    <link href="{% static 'assets/theme/css/style.css' %}" rel="stylesheet">

    <style>
      label {
        font-size: 120%;
      }
    </style>

  </head>
  <body>
    <div class="wrapper">
      <div class="block-page" >
        <div class="container-xs clearfix">
          <h2 class="text-uppercase color-dark"><i class="fa fa-user"></i>Submit Request For PPE</h2>
          <form style="padding-bottom:1em;" method="POST">
            <!-- Every <form> element needs a csrf_token as a security precaution. -->
            {% csrf_token %}
            <!-- I use the hidden input element to send along the information that
              we are logging out. -->
            <input type="hidden" name="returnHome" value="returnHome"></input>
            <a type="submit" href="/">Return To Home Page</a>
            </form>
            <hr />
            <p style="color:red">{{ validationStatus }}</p>
          <form style="padding-bottom:1em; padding-top:3em;" method="POST">
            {% csrf_token %}
            <!-- Give the user a place to type in their name and passowrd. -->
            <div class="form-group">
              <label for="fName">First Name</label>
              <input type="text" class="form-control form-flat" name="fName" />
            </div>

            <div id="lName" class="form-group">
              <label for="lName">Last Name</label>
              <input id="lNameInput" type="text" class="form-control form-flat" name="lName" />
            </div>
            <script>
              document.getElementById("lName").style.display = "block";
            </script>

            <div class="form-group">
              <input onchange="checkAnon()" type="checkbox" id="anon" name="anon" value="true">
              <label style="font-size:80%" for="anon">Keep your last name anonymous?</label>
            </div>
            <script>
              function checkAnon() {
                var boolean = document.getElementById("anon").value;
                console.log("check anonymous: " + boolean)
                if (boolean == "true") {
                  document.getElementById("lName").style.display = "none";
                  document.getElementById("anon").value = "false";
                  document.getElementById("lNameInput").value = " ";
                }
                else {
                  document.getElementById("lName").style.display = "block";
                  document.getElementById("anon").value = "true";
                }
              }
            </script>

            <div class="form-group">
              <label for="email">Email</label>
              <p style="margin-top: -12px; margin-bottom: -2px">You will receive emails relevant to your request, and your email may be visible to all users.</p>
              <input type="text" class="form-control form-flat" name="email" />
            </div>

            <div class="form-group">
              <label for="phone">Phone Number</label>
              <p style="margin-top: -12px; margin-bottom: -2px">Your phone number will only be revealed to your claimant for ease of communication.</p>
              <input type="text" class="form-control form-flat" name="phone" />
            </div>

            <div class="form-group">
              <label for="address">Organization of Essential Work</label>
              <input type="text" class="form-control form-flat" name="organization" />
            </div>

            <div id="map"></div>
            <script>
              function initMap() {
                geocoder = new google.maps.Geocoder();
                map = new google.maps.Map(document.getElementById('map'), {
                  center: {lat: 32.9, lng: -117},
                  zoom: 5
                });
              }
            </script>
            <script id="url" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAetUTOB2h4dzuM1rlmWOdHY-ooSypC7I&callback=initMap"></script>

            <div class="form-group">
              <label for="address">Address For Delivery of PPE</label>
              <p style="margin-top: -12px; margin-bottom: -2px">Work Address Recommended.</p>
              <input onchange="geocodeAddress()" id="address1" type="text" class="form-control form-flat" name="address" />
            </div>

            <div class="form-group">
              <label for="city">City</label>
              <input onchange="geocodeCity()" id="city1" type="text" class="form-control form-flat" name="city" />
            </div>

            <div class="form-group">
              <label for="zipCode">Zip Code</label>
              <input onchange="geocodeZipCode()" id="zipCode1" type="text" class="form-control form-flat" name="zipCode" />
            </div>

            <div class="form-group">
              <label for="state">State</label>
              <select onchange="geocodeState()" id="state1" name="state" class="form-control form-flat">
                <option>-</option>
                <option value="al">AL</option>
                <option value="ak">AK</option>
                <option value="az">AZ</option>
                <option value="ar">AR</option>
                <option value="ca">CA</option>
                <option value="co">CO</option>
                <option value="ct">CT</option>
                <option value="de">DE</option>
                <option value="fl">FL</option>
                <option value="ga">GA</option>
                <option value="hi">HI</option>
                <option value="id">ID</option>
                <option value="il">IL</option>
                <option value="in">IN</option>
                <option value="ia">IA</option>
                <option value="ks">KS</option>
                <option value="ky">KY</option>
                <option value="la">LA</option>
                <option value="me">ME</option>
                <option value="md">MD</option>
                <option value="ma">MA</option>
                <option value="mi">MI</option>
                <option value="mn">MN</option>
                <option value="ms">MS</option>
                <option value="mo">MO</option>
                <option value="mt">MT</option>
                <option value="ne">NE</option>
                <option value="nv">NV</option>
                <option value="nh">NH</option>
                <option value="nj">NJ</option>
                <option value="nm">NM</option>
                <option value="ny">NY</option>
                <option value="nc">NC</option>
                <option value="nd">ND</option>
                <option value="oh">OH</option>
                <option value="ok">OK</option>
                <option value="or">OR</option>
                <option value="pa">PA</option>
                <option value="ri">RI</option>
                <option value="sc">SC</option>
                <option value="sd">SD</option>
                <option value="tn">TN</option>
                <option value="tx">TX</option>
                <option value="ut">UT</option>
                <option value="vt">VT</option>
                <option value="va">VA</option>
                <option value="wa">WA</option>
                <option value="wv">WV</option>
                <option value="wi">WI</option>
                <option value="wy">WY</option>
              </select>
            </div>

            <div class="form-group">
              <label for="country">Country</label>
              <select id="country" name="country" class="form-control form-flat">
                <option>-</option>
                <option value="us">United States</option>
              </select>
            </div>

            <input type="hidden" id="lat" name="lat" value="0.0"></input>
            <input type="hidden" id="lng" name="lng" value="0.0"></input>

            <script>
              var addressChanged = false;
              var cityChanged = false;
              var stateChanged = false;
              var zipCodeChanged = false;

              //I need to repeat this function four times because each function is the onChange() function for their respective input boxes, but we need to make sure that each input is filled out and that no matter whcih box is filled last it will work.
              function geocodeAddress() {
                addressChanged = true;
                console.log("geocode Address");
                console.log("addressChanged: " + addressChanged);
                console.log("cityChanged: " + cityChanged);
                console.log("stateChanged: " + stateChanged);
                console.log("zipCodeChanged: " + zipCodeChanged);
                if ((addressChanged) && (cityChanged) && (stateChanged) && (zipCodeChanged)) {
                  //geocoder = new google.maps.Geocoder();
                  var address = document.getElementById("address1").value;
                  var city = document.getElementById("city1").value;
                  var zipCode = document.getElementById("zipCode1").value;
                  var state = document.getElementById("state1").value;
                  var locationToGeocode = address + " " + city + " " + state +  " " + zipCode;
                  console.log(locationToGeocode);
                  geocoder.geocode( { 'address': locationToGeocode}, function(results, status) {
                    if (status == 'OK') {
                      var location = results[0].geometry.location;
                      var lat = location.lat();
                      var lng = location.lng();
                      console.log(lat + ", " + lng);
                      document.getElementById("lat").value = lat;
                      document.getElementById("lng").value = lng;
                    } else {
                        alert('Geocode was not successful for the following reason: ' + status);
                    }
                  });

                }
              }

              function geocodeCity() {
                cityChanged = true;
                console.log("geocode City")
                console.log("addressChanged: " + addressChanged);
                console.log("cityChanged: " + cityChanged);
                console.log("stateChanged: " + stateChanged);
                console.log("zipCodeChanged: " + zipCodeChanged);
                if ((addressChanged) && (cityChanged) && (stateChanged) && (zipCodeChanged)) {
                  //geocoder = new google.maps.Geocoder();
                  var address = document.getElementById("address1").value;
                  var city = document.getElementById("city1").value;
                  var zipCode = document.getElementById("zipCode1").value;
                  var state = document.getElementById("state1").value;
                  var locationToGeocode = address + " " + city + " " + state +  " " + zipCode;
                  console.log(locationToGeocode);
                  geocoder.geocode( { 'address': locationToGeocode}, function(results, status) {
                    if (status == 'OK') {
                      var location = results[0].geometry.location;
                      var lat = location.lat();
                      var lng = location.lng();
                      console.log(lat + ", " + lng);
                      document.getElementById("lat").value = lat;
                      document.getElementById("lng").value = lng;
                    } else {
                        alert('Geocode was not successful for the following reason: ' + status);
                    }
                  });

                }
              }

              function geocodeState() {
                stateChanged = true;
                console.log("geocode State")
                console.log("addressChanged: " + addressChanged);
                console.log("cityChanged: " + cityChanged);
                console.log("stateChanged: " + stateChanged);
                console.log("zipCodeChanged: " + zipCodeChanged);
                if ((addressChanged) && (cityChanged) && (stateChanged) && (zipCodeChanged)) {
                  //geocoder = new google.maps.Geocoder();
                  var address = document.getElementById("address1").value;
                  var city = document.getElementById("city1").value;
                  var zipCode = document.getElementById("zipCode1").value;
                  var state = document.getElementById("state1").value;
                  var locationToGeocode = address + " " + city + " " + state +  " " + zipCode;
                  console.log(locationToGeocode);
                  geocoder.geocode( { 'address': locationToGeocode}, function(results, status) {
                    if (status == 'OK') {
                      var location = results[0].geometry.location;
                      var lat = location.lat();
                      var lng = location.lng();
                      console.log(lat + ", " + lng);
                      document.getElementById("lat").value = lat;
                      document.getElementById("lng").value = lng;
                    } else {
                        alert('Geocode was not successful for the following reason: ' + status);
                    }
                  });

                }
              }

              function geocodeZipCode() {
                zipCodeChanged = true;
                console.log("geocode Zip")
                console.log("addressChanged: " + addressChanged);
                console.log("cityChanged: " + cityChanged);
                console.log("stateChanged: " + stateChanged);
                console.log("zipCodeChanged: " + zipCodeChanged);
                if ((addressChanged) && (cityChanged) && (stateChanged) && (zipCodeChanged)) {
                  //geocoder = new google.maps.Geocoder();
                  var address = document.getElementById("address1").value;
                  var city = document.getElementById("city1").value;
                  var zipCode = document.getElementById("zipCode1").value;
                  var state = document.getElementById("state1").value;
                  var locationToGeocode = address + " " + city + " " + state +  " " + zipCode;
                  console.log(locationToGeocode);
                  geocoder.geocode( { 'address': locationToGeocode}, function(results, status) {
                    if (status == 'OK') {
                      var location = results[0].geometry.location;
                      var lat = location.lat();
                      var lng = location.lng();
                      console.log(lat + ", " + lng);
                      document.getElementById("lat").value = lat;
                      document.getElementById("lng").value = lng;
                    } else {
                        alert('Geocode was not successful for the following reason: ' + status);
                    }
                  });

                }
              }
            </script>

            <div class="white-space-20"></div>
            <div class="form-group">
              <label for="typePPE">Type of Personal Protection Equipment You Need:</label><br />
              <p style="font-size:90%; margin-top: -12px; margin-bottom: -2px;">Types of PPE are limited to 1 to ensure donors are able to fulfill. To request mutliple types, please submit multiple requests.</p>
              <a style="padding-top: -12px; margin-bottom: -2px" type="submit" href="/#catalog">Catalog of 3D Printable PPE</a>
              <select onchange="checkHandle()" id="typeOfPPE" class="form-control form-flat" name="typePPE">
                <option value="shield">Face Shields</option>
                <option value="strap">Mask Straps</option>
                <option value="handle">Hands-free Door Handles</option>
                <option value="opener">Personal Hands-free Door Openers</option>
              </select>
            </div>

            <div class="white-space-20"></div>
            <div id="typeHandle" class="form-group">
              <label for="typePPE">Door Handle Type <a style="font-size:70%; padding-top: -12px; margin-bottom: -2px" type="submit" href="/catalogue-handle/">(Which Type Do You Need?)</a>:</label><br />
              <a style="padding-top: -12px; margin-bottom: -2px" type="submit" href="/catalogue-handle/">More Info About Hands-free Door Handles</a>
              <select class="form-control form-flat" name="typeHandle">
                <option value="">----select----</option>
                <option value="Cylindrical, Narrow">Cylindrical, Narrow</option>
                <option value="Cylindrical, Wide">Cylindrical, Wide</option>
                <option value="Rectangular, Narrow, Horizontal">Rectangular, Narrow, Horizontal</option>
                <option value="Rectangular, Wide, Horizontal">Rectangular, Wide, Horizontal</option>
                <option value="Rectangular, Narrow, Vertical">Rectangular, Narrow, Vertical</option>
                <option value="Rectangular, Wide, Vertical">Rectangular, Wide, Vertical</option>
                <option value="Circular, Stationary, Small">Circular, Stationary, Small</option>
                <option value="Circular, Stationary, Large">Circular, Stationary, Large</option>
                <option value="Bar, Vertical, Medium">Bar, Vertical, Medium</option>
                <option value="Bar, Vertical, Large">Bar, Vertical, Large</option>
                <option value="Spherical, Moving, Large">Spherical, Moving, Large</option>
                <option value="Spherical, Moving, Small">Spherical, Moving, Small</option>
              </select>
            </div>

            <script>
              document.getElementById("typeHandle").style.display = "none";
            </script>

            <script>
              function checkHandle() {
                console.log("check handle")
                var type = document.getElementById("typeOfPPE").value;
                if (type == "handle") {
                  document.getElementById("typeHandle").style.display = "block";
                }
                else {
                  document.getElementById("typeHandle").style.display = "none";
                }



                var select = document.getElementById("num");
                if (type == "shield") {
                  var initialLen = select.length;
                  for (i = 0; i < initialLen; i++) {
                    select.remove(0);
                    console.log("hi");
                  }
                  for (i = 2; i<51; i++) {
                    var opt = document.createElement('option');
                    opt.text = i.toString();
                    opt.value = i.toString();
                    select.add(opt, select.length);
                  }
                  var opt = document.createElement('option');
                  opt.text = "75";
                  opt.value ="75";
                  select.add(opt, select.length);
                  var opt = document.createElement('option');
                  opt.text = "100";
                  opt.value ="100";
                  select.add(opt, select.length);
                  var opt = document.createElement('option');
                  opt.text = "125";
                  opt.value ="125";
                  select.add(opt, select.length);
                  var opt = document.createElement('option');
                  opt.text = "150";
                  opt.value ="150";
                  select.add(opt, select.length);
                  var opt = document.createElement('option');
                  opt.text = "175";
                  opt.value ="175";
                  select.add(opt, select.length);
                  var opt = document.createElement('option');
                  opt.text = "200";
                  opt.value ="200";
                  select.add(opt, select.length);
                  var opt = document.createElement('option');
                  opt.text = "225";
                  opt.value ="225";
                  select.add(opt, select.length);
                  var opt = document.createElement('option');
                  opt.text = "250";
                  opt.value ="250";
                  select.add(opt, select.length);
                  var opt = document.createElement('option');
                  opt.text = "300";
                  opt.value ="300";
                  select.add(opt, select.length);
                  var opt = document.createElement('option');
                  opt.text = "400";
                  opt.value ="400";
                  select.add(opt, select.length);
                  var opt = document.createElement('option');
                  opt.text = "500";
                  opt.value ="500";
                  select.add(opt, select.length);
                  var opt = document.createElement('option');
                  opt.text = "550";
                  opt.value ="550";
                  select.add(opt, select.length);
                  var opt = document.createElement('option');
                  opt.text = "600";
                  opt.value ="600";
                  select.add(opt, select.length);
                  var opt = document.createElement('option');
                  opt.text = "650";
                  opt.value ="650";
                  select.add(opt, select.length);
                  var opt = document.createElement('option');
                  opt.text = "700";
                  opt.value ="700";
                  select.add(opt, select.length);
                  var opt = document.createElement('option');
                  opt.text = "750";
                  opt.value ="750";
                  select.add(opt, select.length);
                  var opt = document.createElement('option');
                  opt.text = "800";
                  opt.value ="800";
                  select.add(opt, select.length);
                  var opt = document.createElement('option');
                  opt.text = "850";
                  opt.value ="850";
                  select.add(opt, select.length);
                  var opt = document.createElement('option');
                  opt.text = "900";
                  opt.value ="900";
                  select.add(opt, select.length);
                  var opt = document.createElement('option');
                  opt.text = "950";
                  opt.value ="950";
                  select.add(opt, select.length);
                  var opt = document.createElement('option');
                  opt.text = "1000";
                  opt.value ="1000";
                  select.add(opt, select.length);
                  var opt = document.createElement('option');
                  opt.text = "1100";
                  opt.value ="1100";
                  select.add(opt, select.length);
                  var opt = document.createElement('option');
                  opt.text = "1200";
                  opt.value ="1200";
                  select.add(opt, select.length);
                  var opt = document.createElement('option');
                  opt.text = "1300";
                  opt.value ="1300";
                  select.add(opt, select.length);
                  var opt = document.createElement('option');
                  opt.text = "1400";
                  opt.value ="1400";
                  select.add(opt, select.length);
                  var opt = document.createElement('option');
                  opt.text = "1500";
                  opt.value ="1500";
                  select.add(opt, select.length);
                  var opt = document.createElement('option');
                  opt.text = "1600";
                  opt.value ="1600";
                  select.add(opt, select.length);
                  var opt = document.createElement('option');
                  opt.text = "1700";
                  opt.value ="1700";
                  select.add(opt, select.length);
                  var opt = document.createElement('option');
                  opt.text = "1800";
                  opt.value ="1800";
                  select.add(opt, select.length);
                  var opt = document.createElement('option');
                  opt.text = "1900";
                  opt.value ="1900";
                  select.add(opt, select.length);
                  var opt = document.createElement('option');
                  opt.text = "2000";
                  opt.value ="2000";
                  select.add(opt, select.length);
                }
                else {

                }
                if (type == "strap") {
                  for (i = 2; i<101; i++) {
                    var opt = document.createElement('option');
                    opt.text = i.toString();
                    opt.value = i.toString();
                    select.add(opt, select.length);
                  }
                }
                else {

                }
                if (type == "opener") {
                  var initialLen = select.length;
                  for (i = 0; i < initialLen; i++) {
                    select.remove(0);
                    console.log("hi");
                  }
                  for (i = 2; i<21; i++) {
                    var opt = document.createElement('option');
                    opt.text = i.toString();
                    opt.value = i.toString();
                    select.add(opt, select.length);
                  }
                }
                else {

                }
                if (type == "handle") {
                  var initialLen = select.length;
                  for (i = 0; i < initialLen; i++) {
                    select.remove(0);
                    console.log("hi");
                  }
                  for (i = 1; i<7; i++) {
                    var opt = document.createElement('option');
                    opt.text = i.toString();
                    opt.value = i.toString();
                    select.add(opt, select.length);
                  }
                }
                else {

                }
              }
            </script>

            <div class="form-group">
              <label for="numPPE">Amount of Specified Personal Protection Equipment You Need:</label>
              <p style="font-size:90%; margin-top: -12px; margin-bottom: -2px;">Quantity is limited to ensure donors are able to fulfill. To request more, please submit multiple requests.</p>
              <select id="num" class="form-control form-flat" name="numPPE">
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
                <option value="32">32</option>
                <option value="33">33</option>
                <option value="34">34</option>
                <option value="35">35</option>
                <option value="36">36</option>
                <option value="37">37</option>
                <option value="38">38</option>
                <option value="39">39</option>
                <option value="40">40</option>
                <option value="41">41</option>
                <option value="42">42</option>
                <option value="43">43</option>
                <option value="44">44</option>
                <option value="45">45</option>
                <option value="46">46</option>
                <option value="47">47</option>
                <option value="48">48</option>
                <option value="49">49</option>
                <option value="50">50</option>
                <option value="75">75</option>
                <option value="100">100</option>
                <option value="125">125</option>
                <option value="150">150</option>
                <option value="175">175</option>
                <option value="200">200</option>
                <option value="225">225</option>
                <option value="250">250</option>
                <option value="275">275</option>
                <option value="300">300</option>
                <option value="325">325</option>
                <option value="350">350</option>
                <option value="375">375</option>
                <option value="400">400</option>
                <option value="425">425</option>
                <option value="450">450</option>
                <option value="475">475</option>
                <option value="500">500</option>
                <option value="550">550</option>
                <option value="600">600</option>
                <option value="650">650</option>
                <option value="700">700</option>
                <option value="750">750</option>
                <option value="800">800</option>
                <option value="850">850</option>
                <option value="900">900</option>
                <option value="950">950</option>
                <option value="1000">1000</option>
                <option value="1100">1100</option>
                <option value="1200">1200</option>
                <option value="1300">1300</option>
                <option value="1400">1400</option>
                <option value="1500">1500</option>
                <option value="1600">1600</option>
                <option value="1700">1700</option>
                <option value="1800">1800</option>
                <option value="1900">1900</option>
                <option value="2000">2000</option>
              </select>
            </div>

            <div>
              <label for="deliveryDate">Delivery Date For Specified Personal Protection Equipment: </label>
              <p style="margin-top: -12px; margin-bottom: -2px">Please give your donor enough time to produce what you need!</p>
              <p style="margin-top: -8px; margin-bottom: -2px">After a donor claims your request, we suggest communicating to adjust the delivery time.</p>
              <select name="month">
                <option value="1">01</option>
                <option value="2">02</option>
                <option value="3">03</option>
                <option value="4">04</option>
                <option value="5">05</option>
                <option value="6">06</option>
                <option value="7">07</option>
                <option value="8">08</option>
                <option value="9">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
              </select>
              <select name="day">
                <option value="1">01</option>
                <option value="2">02</option>
                <option value="3">03</option>
                <option value="4">04</option>
                <option value="5">05</option>
                <option value="6">06</option>
                <option value="7">07</option>
                <option value="8">08</option>
                <option value="9">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
              </select>
              <select name="year">
                <option value="2020">2020</option>
              </select>
            </div>

            <br />
            <div class="form-group">
              <label for="otherNotes">Other Notes For Donor:</label>
              <textarea class="form-control form-flat" name="otherNotes" rows="6"></textarea>
            </div>

            <input type="checkbox" id="agreeTermsCheck" name="agreeTermsCheck" value="Agreed" required>
            <label for="agreeTermsCheck">I agree with <a href="terms">the terms</a> and <a href="/pp">privacy policy</a></label><br>

            <button type="submit" class="btn-xs btn-default  btn-flat-solid">Submit Request For PPE</button>
          </form>
          </div>
        </div>
    </div>


          <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'assets/plugins/jquery.js' %}"></script>
    <script src="{% static 'assets/plugins/bootstrap-3.3.1/js/bootstrap.min.js' %}"></script>

    <!-- maps js -->
    <!--<script src="https://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>-->
    <script src="{% static 'assets/plugins/jquery.ui.map.js' %}"></script>

    <!-- advanced easing options -->
    <script src="{% static 'assets/plugins/jquery.easing-1.3.pack.js' %}"></script>

    <!-- parallax bg js -->
    <script src="{% static 'assets/plugins/jquery.parallax-1.1.3.js' %}"></script>
    <!-- lightbox js -->
    <script src="{% static 'assets/plugins/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
    <!-- typed animation-->
    <script src="{% static 'assets/plugins/typed/typed.js' %}"></script>
    <!-- easy chart-->
    <script src="{% static 'assets/plugins/easypiechart/jquery.easypiechart.min.js' %}"></script>
    <!-- simple Captcha -->
    <script src="{% static 'assets/plugins/simpleCaptcha/jquery.simpleCaptcha.js' %}"></script>
    <!-- simple Ajax Uploader -->
    <script src="{% static 'assets/plugins/Simple-Ajax-Uploader/SimpleAjaxUploader.min.js' %}"></script>
    <!-- validate jquery-->
    <script src="{% static 'assets/plugins/validator/jquery.validate.min.js' %}"></script>

    <!--=====================================================-->
    <!--configuration template-->
    <script src="{% static 'assets/theme/js/theme.js' %}"></script>
  </body>
</html>
