<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Website</title>

    {% load static %}

    <!--favicon-->
    <link rel="apple-touch-icon" href="{% static 'assets/theme/images/apple-touch-icon.png' %}">
    <link rel="icon" href="{% static 'assets/theme/images/favicon.ico' %}">

    <!--pace (page loader) style-->
    <link href="{% static 'assets/plugins/pace/pace.css' %}" rel="stylesheet">
    <script src="{% static 'assets/plugins/pace/pace.min.js' %}"></script>

    <!-- Bootstrap -->
    <link href="{% static 'assets/plugins/bootstrap-3.3.1/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Icons -->
    <link href="{% static 'assets/plugins/font-awesome-4.2.0/css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- typed style -->
    <link href="{% static 'assets/plugins/typed/typed.css' %}" rel="stylesheet">
    <!-- popup style-->
    <link href="{% static 'assets/plugins/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
    <!-- simple Captcha-->
    <link href="{% static 'assets/plugins/simpleCaptcha/jquery.simpleCaptcha.css' %}" rel="stylesheet">



    <link href="{% static 'assets/theme/css/style.css' %}" rel="stylesheet">

    <style>
      label {
        font-size: 120%;
      }
    </style>

  </head>

  <body>
    <div style="margin:1%;">
    RELEASE, WAIVER OF LIABILITY,DEFENSE, INDEMNIFICATION AND HOLD HARMLESS AGREEMENT <br><br>
    You acknowledge that you understand that Print For The Cure is acting as a good
    Samaritan and an independent volunteer service around provision of 3D printed PPE
    (Personal Protection Equipment) from individual community volunteers to Essential
    workers. We do not certify the design or components or provided PPE operate properly
    or satisfy any regulatory requirements. This Release, Waiver of Liability, Defense,
    Indemnification and Hold Harmless Agreement (“Agreement”) is meant to reflect the fact
    that Print For The Cure offers the service to facilitate the dissemination of PPE in light of
    the current COVID-19 crisis, without warranty of any kind. The person signing below
    (“You”) is either the individual recipient/provider of the PPE product if the individual
    recipient/provider is an adult under the laws of the relevant jurisdiction or the parent or
    legal guardian of the child if the individual recipient/provider is a child under the laws of
    the relevant jurisdiction. <br><br>
    You agree that the service provided to You by Print For The Cure or by any individual
    associated with Print For The Cure is provided “AS IS” and without representations or
    warranties of any kind, express or implied, and is intended to be a free service for the
    benefit of the community. By accepting the service, you further acknowledge that we do
    not evaluate or approve PPE provided by volunteer donors therefore provided PPE
    should not be considered as approved by any regulatory authority. <br><br>
    You understand that the service furnished by Print For The Cure is meant to benefit
    society, and is not intended, and shall not be used, for commercial use. If You are an
    adult under the laws of the relevant jurisdiction and are the individual recipient/provider,
    you acknowledge that You understand the potential risks of the use of our service and
    expressly assume such risks. If the individual recipient is a child under the laws of the
    relevant jurisdiction, You represent that You are the parent or legal guardian of the child
    and that You understand the potential risks of the use of our service and expressly
    assume such risks on behalf of the individual recipient/provider. <br><br>
    Furthermore, You (either for yourself or your child) release and forever discharge Print
    For The Cure from any and all liability for acts or omissions— including negligent acts or
    omissions—causing damage, loss, injury, or death to the individual recipient/providers
    or others from the use of our service. You agree to defend, indemnify and hold Print For
    The Cure harmless from any and all liability or loss—including liability for
    negligence—arising in conjunction with or resulting from the individual
    recipient/provider’s use of our service (including all attorney’s fees and expenses
    incurred by Print For The Cure). <br><br>
    You further understand and agree that Print For The Cure and any individual associated
    with Print For The Cure shall not be liable for any injuries or damages, including any
    consequential, incidental, indirect, punitive or special damages, resulting from or arising
    out of the use of the service provided by Print For The Cure or any individual associated
    with Print For The Cure. <br><br>
    Any information provided by Print For The Cure and any individual associated with Print
    For The Cure is not intended to be relied upon to protect from, diagnose or treat a
    health problem or disease, and Print For The Cure makes no claims regarding PPE
    provided as a result of our service. Any statements made by Print For The Cure are for
    informational purposes only and are not meant to replace the services or
    recommendations of a physician or other qualified health care practitioner. <br><br>
    You acknowledge that this Agreement is governed by the laws of the State of California
    (without reference to its conflict of law provisions) and the parties intend that this
    Agreement be interpreted as broadly and inclusively as permitted by law. If any portion
    of this Agreement is found to be invalid for any reason, the remainder of the Agreement
    shall continue to remain in full force and effect and shall continue to be binding. <br><br>
    By accessing our service, You acknowledge that You have carefully read the foregoing
    provisions, understand their contents, and agree with and to each and every provision
    herein.
    </div>
  </body>
</html>
